header{
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    height: 5%;
    color: rgb(17, 0, 0);
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    width: 98%;
    justify-content:space-between;
    align-items: center;

    ul{
        display: flex;
        width: 40%;
        justify-content: space-between;
        list-style: none;
        li{
            cursor: pointer;
            &:hover{
                color: #777;
            }
        }
    }
}

