.page{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p{
        margin-top: 10px;
        height: 10%;
        border-style: solid;
       
    }
}
.chat-list{
    background-color: white;
    width: 24%;
    height: 95%;
    border-radius: 30px;
    overflow: hidden;

}
.chat{
    background-color: white;
    width: 71%;
    height: 95%;
    border-radius: 30px;
    overflow: hidden;
}

