.pageWrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 20vw;
    width:  20vw;
    background-color: white;
    border-radius: 30px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}